.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #33a9dd;
  transition: all 0.5s linear;
  z-index: 999;
}

.header img {
  margin-left: clamp(1rem, 5vw, 2rem);
}

.header ul {
  /* position: absolute;
  top: 20px;
  width: 100vw; */
  list-style: none;
  margin: 0;
  direction: ltr;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  margin-right: clamp(1rem, 5vw, 2rem);
}

.header li {
  /* align-self: stretch; */
  display: inline-block;
  border-right: 1px solid #33a9dd;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  padding: 22px 20px;
  color: #e5e5e5;
  border-bottom: 2px solid transparent;
  /* height: 100px; */
}

.header li:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

.headerScroll {
  background-color: white;
}

.headerScroll li {
  color: #33a9dd;
  color: black;
}

.headerScroll a {
  color: #33a9dd;
}

.burger {
  display: none;
}

.header .join {
  background: #33a9dd;
}

.header .join a {
  color: white;
}

.head .ulScroll li:hover {
  border-bottom: 2px solid #33a9dd;
}

/* .header img { */
/* position: absolute; */
/* right: 100px; */
/* top: 0px; */
/* z-index: 10; */
/* } */

@media only screen and (max-width: 850px) {
  .burger {
    display: block;
  }

  .header ul {
    display: none;
  }
}
